version: '3.8'

services:
  frontend-service:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://survey-service:8081
    depends_on:
      survey-service:
        condition: service_healthy
    restart: unless-stopped
    #TODO: change to static nginx and healthcheck

  python-service:
    build: ./python-service
    environment:
      GIGACHAT_CREDENTIALS: ${GIGACHAT_CREDENTIALS}
    depends_on:
      survey-service:
        condition: service_healthy
    restart: unless-stopped
    #TODO: add healthcheck and ngnix

  survey-service:
    build: ./survey-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      postgres:
        condition: service_started
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8081/health" ]
      interval: 10s
      timeout: 5s
      retries: 3

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
