version: '3.8'

services:

  python-service:
    build: ./python-service
    environment:
      GIGACHAT_CREDENTIALS: ${GIGACHAT_CREDENTIALS}
    depends_on:
      survey-service:
        condition: service_healthy
    restart: unless-stopped
    #TODO: add healthcheck

  survey-service:
    build: ./survey-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      postgres:
        condition: service_started
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8081/health" ]
      interval: 10s
      timeout: 5s
      retries: 3

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  nginx:
    build: ./frontend
    environment:
      - VITE_API_URL=/api
    ports:
      - "80:80"
      - "443:443"


volumes:
  postgres_data:
